table{
    width: 200px; 
    height: 200px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    
}
th{
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
hr{
    margin-top: 30px;
}